body
{
    font-family: 'Roboto Slab', serif !important;
}

img
{
    background-size: cover;
    width: 100%;
}

.card > *
{
    margin: 18px !important;
}

.card > img
{
    margin: 0px !important;
}

.spacer 
{
    height: 20px;
}

.mdl-grid
{
    margin-left: -15px !important;
    margin-right: -15px !important;
}

.social-card
{
    padding: 0px !important;
}

.mdl-layout__drawer
{
    background-color: #616161;
    border-width: 0;
    color: white;
}

.material-icons, .mdl-textfield__input
{
    color: #323232;
}

.mdl-navigation__link, #about-me
{
    cursor: default;
    color: white !important;
}

#about-me:hover, .project-type:hover, .project-type.active
{   
    background-color: #323232 !important;
}

.project-type
{
    font-family: Roboto;
}

.gallery
{
    height: 300px;
    overflow: hidden;
    padding: 0px 0px 4px 0px;
}

.gallery > *
{
    margin: auto;
}

.gallery-stack
{
    pointer-events: none;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    padding: 2px 0px 16px 0px;
}

.gallery-element
{
    position: relative;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 60%;
    height: 100%;
    margin: 0px 20%;
}

.gallery-back, .gallery-forward
{
    top: -60%;
    margin: 8px;
}

.gallery-back > *, .gallery-forward > *
{
    pointer-events: none;
}

.gallery-back
{
    float: left;
}

.gallery-forward
{
    float: right;
}

.collapsable > div > .project-link
{
    background-color: #404040;
}

.collapsable {
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
    overflow: hidden;
  }

.collapsable {
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
    overflow: hidden;
  }

/*Colours*/

.green:hover, .green.active { background-color: #4CAF50 !important; }

.light-blue:hover, .light-blue.active { background-color: #4FC3F7 !important; }

.red:hover, .red.active { background-color: #B40F0F !important; }

.yellow:hover, .yellow.active { background-color: #DCB400 !important; }

.teal:hover, .teal.active { background-color: #009688 !important; } 

.grey:hover, .grey.active { background-color: #607D8B !important; }   

.blue:hover, .blue.active { background-color: #2196F3 !important; }

.orange:hover, .orange.active { background-color: #FF9800 !important; }